#map {
  height: 40em;
  width: 80em;
  font-size: 13px;
}
.phone {
    text-decoration: none;
    padding-left: 20px;
    background: url('/spip/IMG/gif/tel.gif') no-repeat;
}

.leaflet-popup-content {
  margin-bottom: 36px;
}

#contenu table, .velocistes table {
  border-collapse: collapse;
  padding: 0.25em;
  margin: 0 auto 1em 2em;
  width: 100%;
  max-width: 60em;
}
#tables caption, .velocistes caption {
    font-size: larger;
    font-weight: 700;
    padding: 0.1em;
}
#tables th, #tables td,
.velocistes th, .velocistes td {
  border: 1px solid #AAA;
  padding: 0.25em;
}
#tables th, .velocistes th {
  background: #FFC;
}
#tables td, .velocistes td {
  font-size: 13px;
  background: #EEE;
}
.velocistes td {
    margin: 2px 0.5em;
}
.velocistes td:nth-child(1) {
    width: 30%;
}
.velocistes td:nth-child(2) {
    width: 10%;
}
.velocistes td:nth-child(3) {
    width: 30%;
}
.velocistes td:nth-child(4) {
    width: 30%;
}

.goto_osm {
    width: 35px;
    float: right;
    margin-left: 8px;
}
#map .goto_osm {
    width: 22px;
}
